$ff-a: 'Lato', sans-serif;
$ff-b:  'Poppins', sans-serif;

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

$t-slow: all 0.5s ease;
$t-fast: all 0.3s ease;

