.c-label {

}

.c-label-circle {
    display: flex;
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background: #fff;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    span {
        font-family: $ff-b;
        font-size: 20px;
        color: #333333;
        font-weight: $fw-bold;
    }
}