/* ----- Section----- */

.o-section {
    overflow: hidden;
    position: relative;
}

.o-services-a {
    background: #fff;
    
    /*Invert*/
    &.invert {
        background: #222;

        .e-heading-section,
        .e-text,
        .e-title--link {
            color: #fff;
        }

        .e-title--link:hover {
            color: $c-a + 10%;
        }
    }
}